
@{
    ViewData["Title"] = "Authentification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Connection">
    <div class="form-group">
        <label for="login">UserName</label>
        <input type="text" class="form-control" name="login" id="login" aria-describedby="emailHelp" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="LogInPassword">Password</label>
        <input type="password" class="form-control" name="password" id="LogInPassword" placeholder="Password">
    </div>
    <div class="form-check">
        <button type="submit" class="btn btn-primary">Connect</button>
    </div>
</form>

