
@{
    ViewData["Title"] = "Index";
}

<h2>AdminIndex</h2>
<div id="services">
    <a asp-action="Index"><button class="btn btn-primary">Bloc Creation</button></a>
</div>
<div id="root"/>

<script src="~/js/dist/Admin/bundle.js"/>

