
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <!-- Start form -->
            <h2>SignIn !</h2><br />
            <form>
                <div class="form-group">
                    <label for="login">UserName</label>
                    <input type="text" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="LogInPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="LogInPassword" placeholder="Password">
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Connect</button>
                </div>
            </form>

            <!-- End form -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2>You are not already registered ?!</h2>
            <form>
                <div class="form-group">
                    <label for="SignUpLogin">UserName</label>
                    <input type="text" class="form-control" id="SignUpLogin" aria-describedby="emailHelp" placeholder="Enter a username">
                </div>
                <div class="form-group">
                    <label for="SignUpPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="SignUpPassword" placeholder="Enter a Password">
                </div>
                <div class="form-group">
                    <label for="password2">Password</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Verify your Password">
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>

        </div>



    </div>
</div>

