
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <!-- Start form -->
            <h2>SignIn !</h2><br />
            
            @Html.Partial("./SignInFormular.cshtml")

            <!-- End form -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2>You are not already registered ?!</h2>
            
            @Html.Partial("./SignUpFormular.cshtml")

        </div>



    </div>
</div>

